@use 'utilities';

#delivery {
  background-color: #eee;
  padding: 2rem;

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .box {
    width: 250px;
    margin: 5px;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-evenly;

    h3 {
      color: utilities.$primary-color;
    }

    .circle {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: utilities.$primary-color;

      i {
        height: 42px;
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 50%;
      }
    }
  }

  .border {
    border-right: 1px solid #cccccc;
  }

  .phone {
    font-family: utilities.$secondary-font;
    font-size: 2.5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }
}

#about {
  .flex {
    display: flex;

    .about-restaurant {
      flex: 1;
      padding-top: 80px;

      h2 {
        font-family: utilities.$secondary-font;
        font-size: 34px;
      }

      p {
        color: #2c465a;
        line-height: 2;
        margin: 20px 0 30px 0;
      }
    }

    .photos {
      flex: 1;
      display: flex;

      .left {
        padding: 100px 5px 40px 40px;
      }

      .right {
        padding: 60px 0 0 5px;
      }

      .photo {
        margin: 10px 0;
        width: 270px;
        height: 150px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }
}
