@use 'utilities';

#clients {
  background: url('/assets/images/client_background.jpg') no-repeat center
    center/cover;
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;

    & div {
      padding-bottom: 1rem;
    }

    .heading {
      font-size: 2.5rem;
      color: white;
      font-family: utilities.$secoundary-font;
    }

    p {
      color: white;
      text-align: center;
    }

    img {
      border-radius: 50%;
      height: 60px;
    }

    i {
      color: gold;
    }
  }
}
#hours {
  .open-hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    // background: white;

    h1 {
      font-size: 2rem;
      font-family: utilities.$secoundary-font;
      font-weight: bold;
    }

    h2 {
      font-weight: 400;
      font-style: italic;
      font-family: utilities.$secoundary-font;
      color: #3738449c;
    }

    .wrapper {
      position: relative;
      width: 200px;

      .image {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background: url('/assets/images/dish.jpg') no-repeat center center/cover;
        position: absolute;
        top: 0;
      }
    }
  }
}
