#delivery {
  .flex {
    flex-direction: column;

    .box {
      width: auto;
      padding-bottom: 10px;
    }

    .border {
      border-right: none;
      border-bottom: 1px solid #cccccc;
    }

    .phone {
      font-size: 2rem;
      justify-content: center;
    }
  }
}
