#header {
  img {
    width: 80%;
  }

  li:not(:first-child) {
    display: none;
  }

  li.icon {
    display: inline;
    font-size: 2rem;
  }

  .responsive {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;

    li {
      display: inline;
    }

    li {
      padding-bottom: 20px;
    }

    li.icon {
      position: absolute;
      top: 16px;
      right: 16px;
    }

    .nav-button {
      width: 110%;
    }
  }
}
