@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$primary-color: #fea100;
$secondary-color: #fe4c8d;
$primary-font: 'Sintony', sans-serif;
$secondary-font: 'Playfair Display', serif;

* {
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: $primary-font;
  line-height: 1.4;
  color: #000;
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  // overflow: hidden;
}

.text-primary {
  color: $primary-color;
}

.price {
  color: $primary-color;
  font-family: $secondary-font;
  font-size: 1.6rem;
  font-weight: 600;
}

.lg-heading {
  font-size: 2rem;
  font-family: $secondary-font;
  margin-bottom: 1.2rem;
}
