#header {
  display: none;
}
#hero-slider {
  display: none;
}
#delivery {
  display: none;
}
#about {
  display: none;
}
#specials {
  display: none;
}
#food-menu {
  display: none;
}
#clients {
  display: none;
}
#hours {
  display: none;
}
#footer {
  display: none;
}
