#header {
  height: 10vh;

  img {
    width: 80%;
  }

  li:not(:first-child, :last-child) {
    display: none;
  }

  .container {
    .navbar {
      .icon {
        display: inline;
        font-size: 2rem;
      }
    }
  }

  .responsive {
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    box-shadow: 0 0 0 16px #fff;

    li {
      display: inline;
    }

    li {
      padding-bottom: 20px;
    }

    li.icon {
      position: absolute;
      top: 16px;
      right: 16px;
    }

    .nav-button {
      width: 110%;
      margin-left: 20px;
    }
  }
}
#hero-slider {
  height: 90vh;

  .flex {
    flex-direction: column;

    .text-box {
      margin-left: 0px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.3rem;
      }
    }

    @keyframes showText {
      from {
        left: -300px;
        opacity: 0.1;
      }
      to {
        left: 0px;
        visibility: visible;
        opacity: 1;
      }
    }

    @keyframes showButton {
      from {
        right: -250px;
        opacity: 0.1;
      }
      to {
        right: 0px;
        visibility: visible;
        opacity: 1;
      }
    }

    .photo {
      margin: 20px 20px;
      height: 250px;
      width: 300px;

      img {
        width: 100%;
      }
    }

    @keyframes showPhoto {
      from {
        bottom: -100px;
        opacity: 0.1;
      }
      to {
        bottom: 0px;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 20px;
    left: 35%;
  }

  .explore-logo {
    display: none;
  }
}
#hero-slider:hover {
  #prev,
  #next {
    display: none;
  }
}
#delivery {
  .flex {
    flex-direction: column;

    .box {
      width: auto;
      padding-bottom: 10px;
    }

    .border {
      border-right: none;
      border-bottom: 1px solid #cccccc;
    }

    .phone {
      font-size: 2rem;
      justify-content: center;
    }
  }
}
#about {
  .flex {
    flex-direction: column;

    .about-restaurant {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 20px 0;
        text-align: justify;
        line-height: 1.5;
      }
    }

    .photos {
      align-items: center;
      justify-content: center;
      .left {
        padding: 0 0 30px 0;
      }
      .right {
        display: none;
      }
    }
  }
}
#specials {
  .back-image {
    height: 230px;
  }

  .darker {
    height: 230px;
  }

  .container {
    .today-menu {
      flex-direction: column;

      .card {
        width: 80%;

        .photo {
          height: 200px;
          width: 100%;
        }

        .content {
          text-align: center;

          .delivery {
            justify-content: space-between;

            .phone {
              display: none;
            }
          }
        }
      }
    }
  }

  .pizza {
    width: 60%;
    bottom: -25px;
    right: 0px;
    overflow: hidden;

    img {
      width: 104%;
    }
  }
}
#food-menu {
  // display: none;

  .table {
    flex-direction: column;
  }
}
#clients {
  padding: 0 1rem;
}
#hours {
  // display: none;
  .open-hours {
    display: flex;
    flex-direction: column;

    .item {
      padding: 1rem 0;
      text-align: center;
    }
    .image {
      display: none;
    }
  }
}
#footer {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navigation {
      margin-bottom: 2rem;
      h2 {
        text-align: center;
      }

      ul {
        column-count: 3;
      }
    }

    .newsletter {
      align-items: center;
      margin-bottom: 2rem;
      width: 100%;

      h2 {
        align-self: center;
      }

      p {
        padding-bottom: 0.5rem;
      }
    }

    .open-hours {
      padding: 0 1rem;
      width: 85%;

      h2 {
        text-align: center;
      }
    }
  }
}
