@use 'utilities';

#header {
  position: sticky;
  padding: 1rem;

  #main-navbar {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;

    li {
      &:nth-child(1) {
        margin-right: auto;
      }

      a {
        color: #2c465a;
        font-family: utilities.$primary-font;
        font-weight: bold;
        padding: 0 1.2rem;

        &:hover {
          color: utilities.$primary-color;
        }
      }

      .active {
        color: utilities.$primary-color;
      }
    }

    .nav-button {
      background-color: utilities.$primary-color;
      width: 10rem;
      height: 2.8rem;
      border-radius: 3%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: lighten(utilities.$primary-color, 10%);
      }

      a {
        width: 96%;
        height: 88%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 3%;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#delivery {
  background-color: #eee;
  padding: 2rem;

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .box {
    width: 250px;
    margin: 5px;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: utilities.$primary-color;
    }

    .circle {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: utilities.$primary-color;

      i {
        height: 42px;
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 50%;
      }
    }
  }

  .border-right {
    border-right: 1px solid #cccccc;
  }

  .phone {
    font-family: utilities.$secoundary-font;
    font-size: 2.5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }
}

#footer {
  background-color: #373844;
  color: #adb2b7;

  .links {
    display: flex;
    justify-content: center;
    font-family: utilities.$primary-font;
    // line-height: 1.7;
    margin: 5rem 0;

    & > div {
      margin: 0 2rem;
    }

    h2 {
      color: white;
      font-family: utilities.$secoundary-font;
      font-weight: 700;
      margin-bottom: 1.5rem;
      font-size: 24px;
    }
    display: flex;

    .navigation {
      flex: 1;
      li {
        line-height: 2.1;
        a {
          color: #adb2b7;
          font-family: utilities.$primary-font;
        }
      }
    }

    .newsletter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;

      form {
        input {
          padding: 0.8rem;
          color: #adb2b7;
          border-radius: 4px;
          background-color: #373844;
          border: 1px solid #52535e;
          margin-right: 0.5rem;

          &:focus {
            outline: none;
            border: 2px solid utilities.$primary-color;
          }
        }

        button {
          padding: 1rem;
          border: none;
          border-radius: 5px;
          color: white;
          background-color: utilities.$primary-color;

          &:hover {
            background: darken(utilities.$primary-color, 10%);
          }

          &:focus {
            outline: none;
          }
        }
      }
      .social {
        display: flex;
        margin-top: 1rem;
        a {
          color: white;
          .fb-background {
            color: #444b7c;
          }
          .tw-background {
            color: #6784b8;
          }
          .ye-background {
            color: #c11419;
          }
          .gp-background {
            color: #dd4b39;
          }
        }
      }
    }

    .open-hours {
      flex: 1;
      ul {
        li {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #45444e;
          font-family: utilities.$secoundary-font;
          padding: 0.5rem 0;

          .days {
            font-style: italic;
          }
        }
      }
    }
  }

  .copyright {
    margin-top: 8rem;
    margin-bottom: 4rem;
    .copy {
      display: flex;
      align-items: center;
      text-align: center;
      color: #8e9198;

      &::before,
      &::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #45444e;
      }

      &:not(:empty)::before {
        margin-right: 0.25em;
      }

      &:not(:empty)::after {
        margin-left: 0.25em;
      }
    }
  }
}
